/* Horizontal positioning */

.left
{
   margin-right:auto;
   justify-content: left;
}

.center
{
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
}

.right
{
   margin-left:auto;
   justify-content: right;
}

/* Containers */

.container
{
   gap:5px;
   display:grid;
}

.container.flex
{
   display:flex;
   vertical-align: top;
}

/* fieldsets */

fieldset
{
	margin: 20px;
   padding: 10px;
   width: max-content;
	border-radius: 5px;
   background-color: white;
}

fieldset legend
{
  display:flex;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  justify-content: center;
  border:solid 1px black
}

legend.center
{
   margin-right: auto;
   margin-left: auto;
}

legend.left
{

   margin-right: auto;
   margin-left:15px;
}

legend.right
{
   margin-left: auto;
   margin-right:15px;
}


/* Indicators */
[type="row-indicator"].pointer.failed:before
{
   top: 50%;
   top:10px;
   left: 50%;
   z-index: 1;
   width: 5px;
   content: "";
   height: 5px;
   display: grid;
   border-radius: 50%;
   position: absolute;
   background-color: red;
   transform: translate(-50%,-50%);
}

[type="row-indicator"].pointer
{
	width:10px;
   height: 10px;
   display: block;
   margin-left: 5px;
   position: relative;
	align-items: center;
	justify-content: center;
}

[type="row-indicator"].pointer.active
{

   top: 15px;
   width: 10px;
   height: 10px;
   border-radius: 50px;
   background-color: gray;
}